@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-white font-sans antialiased;
  }
}

.clip-path-slant {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-accent to-purple-500;
}
